<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../static/styles.css"> 
</head>
<body>
    <div class="container">
        <h1>Introduce tus datos</h1>
        <form action="/registro" method="POST">

            <label for="Nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="tipo_usuario">Tipo de usuario</label>
            <select id="tipo_usuario" name="tipo_usuario" onchange="mostrarInput()">
                <option value="" disabled selected>--Selecciona una opción--</option>
                <option value="comprador">Comprador</option>
                <option value="vendedor">Vendedor</option>
            </select>
           
            <button type="submit" class="back-link">Registrarse</button> 
        </form>

        <a href="/" class="back-link">Página principal</a>
    </div>
</body>
</html>
